.container {
height: 75vh;
 width: 85vh;
display: flex;

justify-content: center;

align-items: center;

flex-direction: column;

padding: 20px;

border-radius: 10px;

background-color: #f2f2f2;

justify-self: center;

align-self: center;

justify-content: space-around;

box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

border: 1px solid #ccc;
}
.button {
background-color: #4cadaf;
border: none;
border-radius:5px;
color: white;
padding: 15px 32px;
text-align: center;
display:flex;
flex-direction: column;

}